*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: rgb(88, 155, 151);
    width: 85vw;
}

header {
    background-color: lightseagreen;
    color: white;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
/*     height: 3rem; */
}

main {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "aside section";
}
.lista{
    list-style: none;
}


aside{
    grid-area: aside;
    background-color: darkcyan;
}


aside li {
    line-height: 1.6;
    font-size: 2rem;
}
li {
    color: rgb(97, 67, 67); /* bullet color */
  }



a:link {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}
a:visited {
    color: rgb(255, 255, 255);
}
a:hover {
    color: rgb(196, 54, 125);
}
a:active {
    color: blue;
  }

section {
    grid-area: section;
    background-color: rgb(71, 160, 160);
}
.box{
    margin: 2rem auto;
    text-align: center;
/*     margin: 100px; */
}

.lista2 {
    margin-left: 4rem;
    line-height: 1.4;
    font-size: 2rem;
}

.boxform{
    
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
article{

    margin: 20px;
}

#ipe{
/*     display: flex;
    justify-content: flex-end; */
    background-image: url(../img/ipe-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: bottom 10px right 10px;
    background-size: 30rem;
}

.conteiner{
    height: 60vh;
}

h2{
    color: rgb(95, 31, 31);
    font-size: 2rem;
}
fieldset{
    margin-top: 20px;
    padding: 1rem;
}
#frist{
    border: none;
}


.block {
    display: block;
/*     background-color: yellow; */
}



.video {
    border-radius: 10px;
    width: 80%;
/*     height: 405px;
    margin: 0 auto; */

}



footer {
    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin-top: 10px;
    background-color: lightseagreen;
    text-align: center;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);

 }

.footer-box {
    padding: 10px;
    display: inline;
}

.footer-box p {
font: bolder;
}

.redes_sociais img {
    height: 2.5rem;
    width: 2.5rem;
/*     display: inline; */
}

.redes_sociais{
    display: flex;
    gap: 1rem;
    align-items: center;
}


/* .footer-box H2 {
     display: inline;
} */

.footer-box{
    display: flex;
    justify-content: space-between;
}

button{
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px; 
}

button:hover {
    background-color: rgba(94, 71, 110, 0.575);
    font-size: 2rem;
}

input[type = radio]:hover{
  transform: scale(3);  
}

input[type = checkbox]:focus{
    transform: scale(2);
    
}

#confirm {
/*     display: flex;
    justify-content: center; */
    text-align: center;
    margin: 0 auto;
}